body{
    background-image: url(ermanos1234.png); 
}
.titulo{
color: aliceblue;
}
.subtitulo{
    color: aliceblue;
}
.ser{
    color: aliceblue;
}
.servicos{
    color: aliceblue;
}
.funcionamento{
    color: aliceblue;
}
.fun{
    color: aliceblue;
}